<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
  </configSections>
  <connectionStrings>
    <add name="SQLCONNECTIONSTRING" connectionString="data source=(local)\SQLEXPRESS; Initial Catalog=manage_db_final;User ID=sa;Password=123456;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <!--maxRequestLength="215040" 上传限制215MB  uploadify上传附件时会用到-->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="215040" executionTimeout="600"/>
    <compilation targetFramework="4.6" debug="false"/>
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="/err.aspx"/>
    <!--<customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="/err.aspx">
      <error statusCode="404" redirect="/err.aspx" />
    </customErrors>-->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="Webdiyer" namespace="Wuqi.Webdiyer" assembly="aspnetpager"/>
      </controls>
      <namespaces>
        <add namespace="Model"/>
        <add namespace="LiteratureManager.Common"/>
        <add namespace="System.Globalization"/>
      </namespaces>
    </pages>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="/LoginOut" type="LiteratureManager.Common.UrlRewriter"/>
      <add verb="*" path="/Website/AdSingle_*" type="LiteratureManager.Common.UrlRewriter"/>
      <add verb="*" path="/Website/Info_*" type="LiteratureManager.Common.UrlRewriter"/>
      <add verb="*" path="/Website/*" type="LiteratureManager.Common.UrlRewriter"/>
      <add verb="*" path="/Search" type="LiteratureManager.Common.UrlRewriter"/>
      <add verb="*" path="/User/*" type="LiteratureManager.Common.UrlRewriter"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="LoginOut-Integrated" path="LoginOut" verb="*" type="LiteratureManager.Common.UrlRewriter" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="WebsiteAdSingle-Integrated" path="Website/AdSingle_*" verb="*" type="LiteratureManager.Common.UrlRewriter" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="WebsiteInfo-Integrated" path="Website/Info_*" verb="*" type="LiteratureManager.Common.UrlRewriter" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="WebsiteWildcard-Integrated" path="Website/*" verb="*" type="LiteratureManager.Common.UrlRewriter" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="Search-Integrated" path="Search" verb="*" type="LiteratureManager.Common.UrlRewriter" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="UserWildcard-Integrated" path="User/*" verb="*" type="LiteratureManager.Common.UrlRewriter" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="andy" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
    </handlers>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
    </staticContent>
    <!-- 暂时注释掉 HTTPS 重定向规则 -->
    <!--
    <rewrite>
      <rules>
        <rule name="https" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
    </rewrite>
    -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, X-Requested-With"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="220200960"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="500"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/err.aspx" responseMode="ExecuteURL"/>
      <error statusCode="500" prefixLanguageFilePath="" path="/err.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
  <appSettings>
    <add key="md5_key" value="20250902"/>
    <add key="rag_service_url" value="http://localhost:5050"/>
    <add key="website_url" value="http://localhost:8081/"/>
    <add key="SmsPostUrl" value="https://106.ihuyi.com/webservice/sms.php?method=Submit"/>
    <add key="SmsAccount" value="C62138491"/>
    <add key="SmsPassword" value="3451cc5ddf24e5c9fc3395e8ef0515c5"/>
    <add key="SmsProxyUrl" value="http://127.0.0.1:7897"/>
    <add key="SmsDebugMode" value="false"/>
    <add key="UploadMaxPdfMb" value="50"/>
    <add key="UploadMaxImageMb" value="10"/>
    <add key="UploadMaxAttachmentMb" value="100"/>
    <add key="UploadBatchMaxFiles" value="20"/>
    <add key="UploadBatchMaxTotalMb" value="200"/>
    <add key="DownloadBatchMaxFiles" value="10"/>
    <add key="DownloadBatchMaxTotalMb" value="200"/>
    <add key="ImportMaxMb" value="10"/>
    <add key="ImportMaxRows" value="5000"/>
    <add key="UserApiMaxRequestKb" value="64"/>
    <add key="CommentMaxLength" value="2000"/>
    <add key="SmsCooldownSeconds" value="60"/>
    <add key="CommentCooldownSeconds" value="15"/>
    <add key="ExternalRequestTimeoutMs" value="10000"/>
    <add key="PdfParseMaxConcurrent" value="10"/>
    <add key="RedisEnabled" value="true"/>
    <add key="RedisHost" value="127.0.0.1"/>
    <add key="RedisPort" value="6379"/>
    <add key="RedisDatabase" value="0"/>
    <add key="RedisPassword" value=""/>
    <add key="RedisTimeoutMs" value="500"/>
    <add key="RedisKeyPrefix" value="manage"/>
    <add key="PdfParseLeaseSeconds" value="600"/>
    <!-- 如需启用对象存储，请在本地或服务器上补充以下配置 -->
    <add key="file_storage_base_url" value=""/>
    <add key="qcloud_bucket" value=""/>
    <add key="qcloud_region" value=""/>
    <add key="qcloud_secret_id" value=""/>
    <add key="qcloud_secret_key" value=""/>
    <!-- 待替换为微信支付商家平台收款配置 -->
    <add key="wxpay_appid" value="REPLACE_WITH_WECHAT_PAY_APPID"/>
    <add key="wxpay_appsecret" value="REPLACE_WITH_WECHAT_PAY_APPSECRET"/>
    <add key="wxpay_mchid" value="REPLACE_WITH_WECHAT_PAY_MCHID"/>
    <add key="wxpay_apiv3key" value="REPLACE_WITH_WECHAT_PAY_APIV3_KEY"/>
    <add key="wxpay_serial_no" value="REPLACE_WITH_WECHAT_PAY_SERIAL_NO"/>
    <add key="wxpay_private_key" value="REPLACE_WITH_WECHAT_PAY_PRIVATE_KEY_PKCS8"/>
    <!-- 待替换为微信支付商家平台回调地址 -->
    <add key="wx_notify_url" value="https://your-domain.example.com/wx_pay_notify.aspx"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
