<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.5.1" targetFramework="net48" requireReinstallation="true" />
  <package id="Tencent.QCloud.Cos.Sdk" version="5.4.49" targetFramework="net48" />
  <package id="Tencent.QCloud.Cos.Sts.Sdk" version="3.0.5" targetFramework="net48" />
  <package id="TencentCloudSDK" version="3.0.500" targetFramework="net48" />
</packages>